*{
  margin: 0;
}
/*Home*/
body { 
  height: 90%;
  margin: 0;
  font-family:'helvetica', sans-serif;
  font-size: 1.5em;
}
.header{
  margin-top:-100px;
  width:100%;
  height:120px;
  background-color: #f2f5fb;
}

nav {
  margin: 50px;
}

ul {
  overflow: auto;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 10px 10px 10px;

}

li:last-child {
  border-right: none;
}
li a {
  text-decoration: none;
  color: rgb(12, 12, 12);
  font: 20px/1 Helvetica, Vardana, Sans-serif;
  text-decoration: uppercase;
  text-align: center;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5a ease;
}

li a:hover {
  color: rgb(49, 233, 110);
}

li.active a {
  font-weight: bold;
  color: rgb(216, 11, 11);
}
.banner-box{
  width: 100%;
  background-color: red;
  height: 599px;
  margin-top: -2px;
}

.bannerimage{
  height: 599px;
  margin-top: 0;
  width: 100%;
}
.leftcolumn{
  width: 50%;
  height: 620px;
  float: left;
  background-color: #69c;
  padding: 100px 0 0 0;

}
.mat-image{
  margin-left: 228px;
  height: 312px;
}
.p1{
  text-align: justify;
  font-size: 15px;
  border-style: groove;
  margin: 30px;
  padding: 5px;
}
.videotext2{
  border-style: groove;
  margin: 30px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}
.video{
  height: 545;
  padding-left: 250;
  width: 1000;
  padding-top: 100;
}
.joe-image{
  height: 312px;
  margin-left: 228px;
}
.p2{
  text-align: justify;
  font-size: 15px;
  border-style: groove;
  margin: 30px;
  padding: 5px;
}
.rightcolumn{
  width: 50%;
  padding: 100px 0 0 0;
  height: 620px;
  float:right;
  background-color: rgb(189, 22, 152);
}
.footer-place {
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(39,13,62);
}
/*video*/

.main{
  width: 100%;
  height: 751px;
  float: left;
  padding: 0 0 0 0;  
  margin-top: 0px;
  background-color: blue;
}
.footer-place3{
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(39,13,62);
}
.videotext3{
  border-style: groove;
  margin: 30px;
  margin-bottom: 10px;
  font-size: 26px;
  text-align: center;
}

/*Glossary*/

.maincontent{
  width: 100%;
  height: 1500px;
  float: left;
  padding: 0 0 0 0;  
  margin-top: 0px;
  background-color: #b2ecff;
}

table th{
  text-align: center;
  background-color: rgba(255, 255, 0, 0.226);
  color: white;
  padding: 4px 30px 4px 8px;
}

table td{
  border: 1px solid;
  padding: 4px 8px;
}

table{
  border-collapse: collapse;
  margin-left: 100px;
}

table tr:nth-child(odd) td {
  background-color: #e7edf0
}

h1{
  text-align: center;
}
p{
  text-align: center;
}

.footer-place3{
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(8, 4, 8)
}

/*Resource Page*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn4{
  width: 50%;
  height: 1750px;
  float: left;
  padding: 0 0 0 0;  
  margin-top: 0px;
  background-color: blue;
}

.flexboxfrog{
  height: 400px;
  margin: 25px 10px 10px 29px;
}

.frogtext{
  margin: 100px 10px 10px 10px;
  text-align: justify;
  font-size: 15px;
}

.codepen{
  height: 400px;
  margin: 25px 10px 10px 29px;
}

.codetext{
  margin: 390px 10px 10px 10px;
  text-align: justify;
  font-size: 15px;
}

.codecd{
  height: 400px;
  margin: 25px 10px 10px 29px;
}

.cadtext{
  margin: 390px 10px 10px 10px;
  text-align: justify;
  font-size: 15px;
}
.frontend{
  height: 400px;
  margin: 25px 10px 10px 29px;
  width: 640;
}

.frontendtext{
  margin: 390px 10px 10px 10px;
  text-align: justify;
  font-size: 15px;
}

.rightcolumn4{
  width: 50%;
  padding: 0 0 0 0;
  height: 1750px;
  float: right;
  margin-top: 0px;
  background-color: rgb(189, 22, 152);
}
.footer-place4{
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(39,13,62);
}

/*Good Practice*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn5{
  width: 50%;
  height: 1200px;
  float: left;
  padding: 0 0 0 0;  
  margin-top: 0px;
  background-color: blue;
}

.mklightning{
  height: 320px;
  width: 460px;
  padding-left: 100;
  padding-top: 100;
}

.mktext{
  color: white;
  text-align: justify;
  font-size: 15px;
  border-style: groove;
  margin: 30px;
  padding: 5px;
  line-height: 100%;
}

.redbull{
  height: 320px;
  width: 460px;
  padding-left: 100px;
  padding-top: 10px;
}

.redbulltext{
  color: white;
  text-align: justify;
  font-size: 15px;
  border-style: groove;
  margin: 30px;
  padding: 5px;
  line-height: 100%;
}
.rightcolumn5{
  width: 50%;
  padding: 0 0 0 0;
  height: 1200;
  float: right;
  margin-top: 0px;
  background-color: rgb(189, 22, 152);
}

.BearGrylls{
  height: 320px;
  width: 460px;
  padding-left: 100;
  padding-top: 100;
}

.beargryllstext{
  color: white;
  text-align: justify;
  font-size: 15px;
  border-style: groove;
  margin: 30px;
  padding: 5px; 
  line-height: 100%;
}

.AudiR8{
  height: 320px;
  width: 460px;
  padding-left: 100;
  padding-top: 0;
}

.Auditext{
  color: white;
  text-align: justify;
  font-size: 15px;
  border-style: groove;
  margin-top: 26px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px; 
  line-height: 100%;
}
.footer-place5{
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(39,13,62);
} 

/*Webjobs*/
.column {
  float: left;
  width: 28.33%;
  padding: 10px;
  height: 512px;
  margin-left: 10px;
  font-size: 14px;
  text-align: justify;
  margin-top: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn6{
  width: 50%;
  height: 751px;
  float: left;
  padding: 0 0 0 0;  
  margin-top: 0px;
  background-color: blue;
}

.wjpictures{
  height: 751px;
  width: 720px;
  margin-left: 0;
  margin-top: 0;
}
.rightcolumn6{
  width: 50%;
  padding: 0 0 0 0;
  height: 751px;
  float: right;
  margin-top: 0px;
  background-color: rgb(189, 22, 152);
}
.footer-place6{
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(39,13,62);
}

h3{
  text-align: center;
  padding: 0px 0 0 0;
  color: green;
  font-size: 10px;
}

/*Validation*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn7{
  width: 50%;
  height: 751px;
  float: left;
  padding: 0 0 0 0;  
  margin-top: 0px;
  background-color: blue;
}
.rightcolumn7{
  width: 50%;
  padding: 0 0 0 0;
  height: 751px;
  float: right;
  margin-top: 0px;
  background-color: rgb(189, 22, 152);
}
.footer-place7{
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(39,13,62);
}


/*log*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn8{
  width: 532px;
  height: 751px;
  float: left;
  padding: 0 0 0 0;  
  margin-top: 0px;
  background-color: blue;
}

.logpic{
  height: 751px;
  width: 532px;
}

.logtext{
  color: white;
  text-align: justify;
  font-size: 19px;
  border-style: groove;
  border-color: rgb(245, 238, 238);
  padding: 11px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 5px;
}

.rightcolumn8{
  width: 63%;
  padding: 0 0 0 0;
  height: 751px;
  float: right;
  margin-top: 0px;
  background-color: rgba(189, 22, 153, 0.171);
}
.footer-place8{
  clear:left;
  margin-bottom:0;
  width:100%;
  height:100px;
  background-color: rgb(39,13,62);
}